body{
    margin: 0px;
}
.pageOut{
    height: 100vh;
    width: 100%;
}

.bg1{
    background-color: rgb(121, 172, 206);
    background-image: linear-gradient(rgba(202, 232, 252, 0),rgb(214, 224, 233));
    transition: 2s;
}

.bg2{
    background-color: rgb(235, 167, 79);
    background-image: linear-gradient(rgba(202, 232, 252, 0),rgb(214, 224, 233));
    transition: 2s;
}

.bg3{
    background-color: rgb(2, 13, 29);
    transition: 2s;
}

.c1{
    color: rgb(57, 120, 161);
    transition: 2s;
}

.cbg1::-webkit-slider-thumb{
    background: rgb(57, 120, 161);
    transition: 2s;
}

.c2{
    color: rgba(228, 156, 62, 0.775);
    transition: 2s;
}

.cbg2::-webkit-slider-thumb{
    background: rgba(228, 156, 62, 0.775);
    transition: 2s;
}

.c3{
    color: white;
    transition: 2s;
}

.cbg3::-webkit-slider-thumb{
    background: white;
    transition: 2s;
}

.nuageImage1{
    opacity: 1;
    transition: 2s;
}

.nuageImage2{
    opacity: 0.9;
    transition: 2s;
    filter: invert(10%);
}

.nuageImage3{
    opacity: 0;
    transition: 2s;
}

.bgStars1{
    height: 100vh;
    position: absolute;
    opacity: 0;
    transition: 2s;
}

.bgStars2{
    height: 100vh;
    position: absolute;
    opacity: 0;
    transition: 2s;
}

.bgStars3{
    height: 100vh;
    position: absolute;
    opacity: 0.8;
    transition: 2s;
}

.nuage1{
    position: absolute;
    top: 5%;
    right: 6%;
    animation-name: cloud2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.nuage2{
    position: absolute;
    top: 6%;
    left: 7%;

    animation-name: cloud;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.pageIn{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 9999;
}

.pageInBG1Class{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url("medias/Plaine\ flat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pageInBG1{
    filter: brightness(1);
    transition: 2s;
}

#pageInBG2{
    filter: brightness(0.6);
    transition: 2s;
}

#pageInBG3{
    filter: brightness(0.3);
    transition: 2s;
}

#heure{
    font-size: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5%;
}

.musiccontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#playpause{
    font-size: 100px;
    transition: 2s;
    z-index: 9999;
}
  
#playpause:hover{
    cursor: pointer;
}

#playpause:active{
    transform: scale(0.9);
}
  
.slider{
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    transition: 0.3s;
    z-index: 9999;
}
  
.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
  
.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes cloud{
    0% {
      transform: translateX(0px);
    }

    50%{
        transform: translateX(-25px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes cloud2{
    0% {
      transform: translateX(0px);
    }

    50%{
        transform: translateX(25px);
    }

    100%{
        transform: translateX(0px);
    }
}

@media (max-width: 800px){
    .nuage1{
        opacity: 0;
        animation-name: unset;
    }
    
    .nuage2{
        opacity: 0;
        animation-name: unset;
    }

    #heure{
        font-size: 20vw;
    }

    #playpause{
        font-size: 17vw;
    }

    .slider{
        width: 50%;
    }
}