body{
    margin: 0px;
}
.pageOut{
    height: 100vh;
    width: 100%;
}

.bg1{
    background-color: rgb(121, 172, 206);
    background-image: linear-gradient(rgba(202, 232, 252, 0),rgb(214, 224, 233));
    transition: 2s;
}

.bg2{
    background-color: rgb(235, 167, 79);
    background-image: linear-gradient(rgba(202, 232, 252, 0),rgb(214, 224, 233));
    transition: 2s;
}

.bg3{
    background-color: rgb(2, 13, 29);
    transition: 2s;
}

.c1{
    color: rgb(57, 120, 161);
    transition: 2s;
}

.cbg1::-webkit-slider-thumb{
    background: rgb(57, 120, 161);
    transition: 2s;
}

.c2{
    color: rgba(228, 156, 62, 0.775);
    transition: 2s;
}

.cbg2::-webkit-slider-thumb{
    background: rgba(228, 156, 62, 0.775);
    transition: 2s;
}

.c3{
    color: white;
    transition: 2s;
}

.cbg3::-webkit-slider-thumb{
    background: white;
    transition: 2s;
}

.nuageImage1{
    opacity: 1;
    transition: 2s;
}

.nuageImage2{
    opacity: 0.9;
    transition: 2s;
    filter: invert(10%);
}

.nuageImage3{
    opacity: 0;
    transition: 2s;
}

.bgStars1{
    height: 100vh;
    position: absolute;
    opacity: 0;
    transition: 2s;
    width: 100vw;
    overflow: hidden;
}

.bgStars2{
    height: 100vh;
    position: absolute;
    opacity: 0;
    transition: 2s;
    width: 100vw;
    overflow: hidden;
}

.bgStars3{
    height: 100vh;
    width: 100vw;
    position: absolute;
    transition: 2s;
    overflow: hidden;

    opacity: 0.8;
    animation-name: starlight;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.astre{
    position: absolute;
    height: 75px;
    filter: brightness(1.5);
    overflow: hidden;
    transition: 2s;
}

.position111{
    top: 90%;
    left: 6%;
}

.position222{
    top: 90%;
    left: 90%;
}

.position6{
    top: 70%;
    left: 3%;
    filter: brightness(1);
}

.position7{
    top: 60%;
    left: 5%;
    filter: brightness(1.1);
}

.position8{
    top: 50%;
    left: 8%;
    filter: brightness(1.2);
}

.position9{
    top: 40%;
    left: 10%;
    filter: brightness(1.3);
}

.position10{
    top: 25%;
    left: 20%;
    filter: brightness(1.4);

    animation-name: sunshine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.position11{
    top: 15%;
    left: 30%;
    filter: brightness(1.4);

    animation-name: sunshine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*ZENITH*/
.position12{
    top: 5%;
    left: 47%;
    filter: brightness(1.5);

    animation-name: sunshine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
/*------*/
.position13{
    top: 15%;
    left: 65%;
    filter: brightness(1.4);

    animation-name: sunshine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.position14{
    top: 25%;
    left: 75%;
    filter: brightness(1.4);

    animation-name: sunshine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.position15{
    top: 40%;
    left: 80%;
    filter: brightness(1.3);
}

.position16{
    top: 50%;
    left: 88%;
    filter: brightness(1.2);
}

.position17{
    top: 60%;
    left: 90%;
    filter: brightness(1.1);
}

.position18{
    top: 70%;
    left: 91%;
    filter: brightness(1);
}

.position19{
    top: 90%;
    left: 6%;
}

/*DEBUT DE LA NUIT */
.position20{
    top: 70%;
    left: 3%;
    filter: brightness(100);
    transform: scale(0.8);
}

.position21{
    top: 60%;
    left: 5%;
    filter: brightness(100);
    transform: scale(0.8);
}

.position22{
    top: 50%;
    left: 8%;
    filter: brightness(100);
    transform: scale(0.8);
}

.position23{
    top: 40%;
    left: 10%;
    filter: brightness(100);
    transform: scale(0.8);
}

.position24{
    top: 25%;
    left: 20%;
    filter: brightness(100);
    transform: scale(0.8);
}

.position1{
    top: 15%;
    left: 30%;
    filter: brightness(100);
    transform: scale(0.8);
}

.position2{
    top: 5%;
    left: 47%;
    filter: brightness(100);
    transform: scale(0.8);
}

.position3{
    top: 15%;
    left: 65%;
    filter: brightness(100);
    transform: scale(0.8);
}

.position4{
    top: 25%;
    left: 75%;
    filter: brightness(100);
    transform: scale(0.8);
}

.position5{
    top: 40%;
    left: 80%;
    filter: brightness(100);
    transform: scale(0.8);
}


.nuage1{
    position: absolute;
    top: 5%;
    right: 6%;
    animation-name: cloud2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.nuage2{
    position: absolute;
    top: 6%;
    left: 7%;

    animation-name: cloud;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.pageIn{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 9999;
}

.pageIn article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 25%;
    z-index: 9999;
}

.pageInBG1Class{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url("medias/Plaine\ flat2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pageInBG1{
    filter: brightness(1);
    transition: 2s;
}

#pageInBG2{
    filter: brightness(0.6);
    transition: 2s;
}

#pageInBG3{
    filter: brightness(0.3);
    transition: 2s;
}

#heure{
    font-size: 170px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Cutive Mono', monospace;
    margin-bottom: 2%;
    letter-spacing: -30px;
    font-variant-numeric: tabular-nums;
    font-weight: normal;
}

.musiccontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 3%;
    display: none;
    text-align: center;
}

#playpause{
    font-size: 100px;
    transition: color 2s, transform 0.2s;
    z-index: 9999;
    margin-bottom: 3%;
}
  
#playpause:hover{
    cursor: pointer;
}

#playpause:active{
    transform: scale(0.9);
}
  
.slider{
    -webkit-appearance: none;
    width: 28%;
    height: 15px;
    border-radius: 5px;
    background: #e4e4e4;
    outline: none;
    opacity: 0.9;
    transition: 0.3s;
    z-index: 9999;
}
  
.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}
  
.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}


#volume{
    font-size: 100px;
    transition: color 2s, transform 0.2s;
    z-index: 9999;
    margin-bottom: 3%;
}

#volume:hover{
    cursor: pointer;
}

#volume:active{
    transform: scale(0.9);
}

@keyframes cloud{
    0% {
      transform: translateX(0px);
    }

    50%{
        transform: translateX(-25px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes cloud2{
    0% {
      transform: translateX(0px);
    }

    50%{
        transform: translateX(25px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes starlight{
    0% {
      opacity: 0.5;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0.5;
    }
}

@keyframes sunshine{
    0% {
      filter: brightness(1.5);
    }

    50%{
        filter: brightness(2);
    }

    100%{
        filter: brightness(1.5);
    }
}

@media (max-width: 800px){
    .nuage1{
        opacity: 0;
        animation-name: unset;
    }
    
    .nuage2{
        opacity: 0;
        animation-name: unset;
    }

    #heure{
        font-size: 22vw;
        letter-spacing: -15px;
    }

    #playpause{
        font-size: 17vw;
    }

    .slider{
        width: 70%;
    }

    .pageIn article{
        width: 50%;
    }
}